<header>
    <div class="portrait">
        <img alt="Sam Beirne" src="assets/images/sam-beirne.jpg" />
    </div>
    <h1>Sam Beirne</h1>
    <div class="social">
        <ul>
            <li>
                <a title="LinkedIn" href="https://www.linkedin.com/in/sambeirne/">
                    <img alt="LinkedIn" src="assets/images/linkedin.svg" />
                </a>
            </li>
            <li>
                <a title="GitHub" href="https://github.com/sambeirne">
                    <img alt="GitHub" src="assets/images/github.svg" />
                </a>
            </li>
            <li>
                <a title="Facebook" href="https://facebook.com/sam.beirne">
                    <img alt="Facebook" src="assets/images/facebook.svg" />
                </a>
            </li>
            <li>
                <a title="Twitter" href="https://twitter.com/SamBeirne">
                    <img alt="Twitter" src="assets/images/twitter.svg" />
                </a>
            </li>
        </ul>
    </div>
</header>
